$yellow: rgb(244, 255, 38);
$blue: #3381db;

// $primary: $blue;

$primary: $yellow;
$primaryDark: darken($primary, 15%);
$primaryDarkest: darken($primary, 25%);

$lightGray: rgb(150, 150, 150);
$medGray: grey;
$darkGray: rgb(71, 71, 71);


$MAX_SECTION_SIZE: 1132px;
$MEDIUM_DISPLAY_SIZE: 900px;
$SMALL_DISPLAY_SIZE: 640px;
$TINY_DISPLAY_SIZE: 550px;
$PHONE_DISPLAY_SIZE: 400px;